Source: kerberizedprinting
Section: misc
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Standards-Version: 4.0.1
Build-Depends: debhelper (>= 9), cdbs

Package: kerberizedprinting
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, smbclient
Recommends: cupsys
Description: Get CUPS working with SMB and Kerberos
 CUPS extension to get SMB printers working with Kerberos
 authentication.
